@font-face {
  font-family: 'Entypo';
  src: url('../webfonts/entypo.eot');
  src:	url('../../webfonts/entypo.woff') format('woff'), 
  		url('../../webfonts/entypo.ttf') format('truetype'),
  		url('../../webfonts/entypo.svg') format('svg');
  		font-weight: 400;
}