// Navbar
// ------

.top-bar {
	
	@include background-image(
		linear-gradient(
			top, 
			lighten($navbar-background-color, 3%) 0px, 
			darken($navbar-background-color, 3%) 100%
		)
	);
	@include box-shadow(0px 1px 2px rgba(0,0,0,0.3));
	
	#nav-branding {
		a {
			display: block;
			height: $navbar-height;
			padding: ($navbar-height - $navbar-branding-font-size) / 2 0;
			padding-right: $base-font-size;
			color: $navbar-link-color;
			font-size: $navbar-branding-font-size;
			font-weight: bold;
			line-height: 1;
			
			&:hover {
				text-decoration: none;
			}
		}
	}
	
	#nav-toggle {
		display: none;
	}

	.top-bar-links {
		@include list-reset();
		@include list-horizontal();
		margin: 0;
		
		> li {
			
			> a {
				display: block;
				height: $navbar-height;
				padding: ($navbar-height - $navbar-link-font-size) / 2 $navbar-link-horizontal-padding;
				color: $navbar-link-color;
				font-size: $navbar-link-font-size;
				line-height: 1;
				
				&:hover {
					background-color: darken($link-color, 10%);
					text-decoration: none;
				}
				
				&:focus {
					outline: none;
				}
			}
			
			&.active {
				a {
					background-color: darken($link-color, 10%);
				}
			}
			
			&.has-dropdown {
				> a {

					padding-right: ($navbar-link-horizontal-padding * 1.5) + ($navbar-caret-height * 2);

					.caret {
						display: block;
						position: absolute;
						top: 0;
						right: $navbar-link-horizontal-padding;
						width: $navbar-caret-height * 2;
						height: $navbar-height;
						
						&:after {
							@include css-triangle($navbar-caret-height, $navbar-link-color, top);
							position: absolute;
							top: 50%;
							left: 0;
							margin-top: -1px;
						}
					}
				}
				
				.dropdown {
					border-top: 0;
				}
				
				&.open {
					> a {
						.caret {
							&:after {
								@include css-triangle($navbar-caret-height, $base-font-color, top);
							}
						}
					}
				}
			}
		}
	}
	
	.button {
		margin-top: ($navbar-height - $button-height) / 2;
		
		@include button-custom(
			$theme: $button-theme, 
			$background-color: darken($navbar-background-color, 5%), 
			$text-color: #fff, 
			$reversed: true	
		);
	}
}

// Navbar fixed to the top of the viewport
// ---------------------------------------

.fixed-page-nav { // Goes on the body
	
	#viewport {
		padding-top: $navbar-height;
	}
	
	.top-bar {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 5000;		
	}
}

// Responsive styles for navbar
// ----------------------------

@media screen and (max-width: 767px) {	
	
	#viewport {
		width: 100%;
		overflow-x: hidden;
		background: #777;
		
		#page {
			@include transition(0.2s left);
			width: 100%;
			position: relative;
			left: 0;
			background: #fff;
		}
		
		#page-nav {
			@include transition(0.2s left);
		}
	}
	
	.mobile-nav-expanded {
		
		overflow-y: hidden;
		
		#viewport {

			#page {
				left: -200px;
			}
		}
		
		&.fixed-page-nav {
			#page-nav {
				left: -200px;
			}
		}
	}

	.responsive {
		
		.top-bar {
			
			#nav-branding {
				float: left;
			}
			
			.top-bar-links {
				> li {
					float: none;
					
					> a {
						height: $vertical-nav-link-height;
						padding: ($vertical-nav-link-height - $vertical-nav-link-font-size) / 2 0;
						border-top: 1px solid $border-color;
					}
				}
			}
			
			#nav-toggle {
				display: block;
			}
			
			#nav-collapse {
				position: absolute;
				width: 200px;
				right: -200px;
				top: $navbar-height + 20px;
				
				.top-bar-section {
					padding: 0 20px;
				}
				
				.top-bar-links {
					
					> li.active {
						> a {
							position: relative;
							background: none;
							
							&:before {
								@include pseudo();
								@include css-triangle(10px, $navbar-link-color, left);
								left: -20px;
								top: 50%;
								margin-top: -10px;
							}
						}
					}
				}
			}
			
			.top-bar-section {
				&.float-left, &.float-right {
					float: none;
				}
				
				&:last-child {
					padding-bottom: $mobile-padding;
				}
			}
			
			.has-dropdown {
				&.open {
					> a {
						background: none !important;
						color: #fff !important;
						
						&:after {
							display: none;
						}
					}
				}
			}
			
			.dropdown {
				position: static;
				display: none;
				visibility: visible;
				background: none;
				border: none;
				@include box-shadow(none);
				color: #fff !important;
				
				> li {
					> a {
						color: #fff;
						font-size: 12px;
					}
				}
			}
			
			.open .dropdown {
				display: block;
			}
		}
	}
}