@font-face {
  font-family: 'Entypo';
  src: url('../fonts/entypo.eot');
  src:	url('../../fonts/entypo.woff') format('woff'),
  		url('../../fonts/entypo.ttf') format('truetype'),
  		url('../../fonts/entypo.svg') format('svg');
  		font-weight: 400;
}
